In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data= pd.read_csv('fileOut.csv')
data.head()

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3,76°1'W,5°48'N,1277
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6,76°1'W,5°48'N,1277
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1,76°1'W,5°48'N,1277
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9,76°1'W,5°48'N,1277
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0,76°1'W,5°48'N,1277

In [3]:
data.describe()

,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Altitud
count,486192.000000,486192.000000,486192.000000,485700.000000,488888.000000,488888.000000,488888.000000,469326.000000,489622.000000
mean,16.398279,25.611119,20.353202,79.730380,2.411428,3.673812,6.085240,4.244910,1477.505206
std,2.397248,3.517686,2.677615,8.698412,6.491423,9.642335,11.985194,2.728723,400.140534
min,0.000000,5.200000,2.800000,27.700000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.600000,24.000000,19.300000,75.000000,0.000000,0.000000,0.000000,2.000000,1290.000000
50%,16.700000,25.800000,20.500000,80.700000,0.000000,0.000000,0.700000,4.000000,1420.000000
75%,17.600000,27.600000,21.800000,85.700000,1.400000,1.800000,6.600000,6.300000,1635.000000
max,24.600000,40.000000,32.100000,99.000000,143.000000,183.500000,183.500000,20.300000,3684.000000

In [4]:
data.shape

(489622, 15)

In [5]:
#ELIMINAR FILAS QUE TENGA AL MENOS UN DATO CON "NaN"
new_data = data.dropna(axis = 0, how ='any')

In [6]:
print("Old data frame length:", len(data)) 
print("New data frame length:", len(new_data))  
print("Number of rows with at least 1 NA value: ", (len(data)-len(new_data)))

Old data frame length: 489622
New data frame length: 465346
Number of rows with at least 1 NA value:  24276

In [7]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE TEMPERATURA MÍNIMA
minimum_temperature = pd.isnull(data['Temperatura_min']).values.ravel().sum()
minimum_temperature

3430

In [8]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE TEMPERATURA MÁXIMA
maximum_temperature = pd.isnull(data['Temperatura_max']).values.ravel().sum()
maximum_temperature

3430

In [9]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE TEMPERATURA MEDIA
medium_temperature = pd.isnull(data['Temperatura_med']).values.ravel().sum()
medium_temperature

3430

In [11]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE HUMEDAD RELATIVA
humidity = pd.isnull(data['Humedad_rel']).values.ravel().sum()
humidity

3922

In [13]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE PRECIPITACIÓN DÍA
precipitation_day = pd.isnull(data['Precipitacion_dia']).values.ravel().sum()
precipitation_day

734

In [15]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE PRECIPITACIÓN NOCHE
precipitation_night = pd.isnull(data['Precipitacion_noche']).values.ravel().sum()
precipitation_night

734

In [17]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE PRECIPITACIÓN TOTAL
precipitation_total = pd.isnull(data['Precipitacion_total']).values.ravel().sum()
precipitation_total

734

In [19]:
#OBTENER LA CANTIDAD DE DATOS FALTANTES EN LA VARIABLE DE BRILLO SOLAR
sunshine = pd.isnull(data['Brillo_solar']).values.ravel().sum()
sunshine

20296

In [21]:
#imputación de datos de la variable temperatura mínima mediante su promedio
col_temp_min = data['Temperatura_min'].fillna(data['Temperatura_min'].mean())

In [23]:
new_temp_min = col_temp_min.dropna(axis = 0, how ='any')

In [25]:
print("Old data frame length:", len(col_temp_min)) 
print("New data frame length:", len(new_temp_min))  
print("Number of rows with at least 1 NA value: ", (len(col_temp_min)-len(new_temp_min)))

Old data frame length: 489622
New data frame length: 489622
Number of rows with at least 1 NA value:  0

In [27]:
#imputación de datos de la variable temperatura máxima mediante su promedio
col_temp_max = data['Temperatura_max'].fillna(data['Temperatura_max'].mean())

In [29]:
#imputación de datos de la variable temperatura media mediante su promedio
col_temp_med = data['Temperatura_med'].fillna(data['Temperatura_med'].mean())

In [30]:
#imputación de datos de la variable de humedad mediante su promedio
col_humed = data['Humedad_rel'].fillna(data['Humedad_rel'].mean())

In [31]:
#imputación de datos de la variable precipitación de día mediante su promedio
col_precip_d = data['Precipitacion_dia'].fillna(data['Precipitacion_dia'].mean())

In [32]:
#imputación de datos de la variable precipitación de noche mediante su promedio
col_precip_n = data['Precipitacion_noche'].fillna(data['Precipitacion_noche'].mean())

In [33]:
#imputación de datos de la variable precipitación de día mediante su promedio
col_precip_to = data['Precipitacion_total'].fillna(data['Precipitacion_total'].mean())

In [34]:
#imputación de datos de la variable brillo solar mediante su promedio
col_sun = data['Brillo_solar'].fillna(data['Brillo_solar'].mean())

In [35]:
data["Temp_min"] = col_temp_min
data["Temp_max"] = col_temp_max
data["Temp_med"] = col_temp_med
data["Hum_rel"] = col_humed
data["Precip_dia"] = col_precip_d
data["Precip_noche"] = col_precip_n
data["Precip_total"] = col_precip_to
data["Brillo_sol"] = col_sun

In [37]:
data.head()

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,...,Latitud,Altitud,Temp_min,Temp_max,Temp_med,Hum_rel,Precip_dia,Precip_noche,Precip_total,Brillo_sol
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,...,5°48'N,1277,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,...,5°48'N,1277,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,...,5°48'N,1277,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,...,5°48'N,1277,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,...,5°48'N,1277,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0

In [39]:
data = data[['Fecha', 'Estacion', 'Departamento', 'Municipio', 'Temp_min', 'Temp_max', 'Temp_med', 'Hum_rel', 'Precip_dia','Precip_noche','Precip_total', 'Brillo_sol','Longitud', 'Latitud', 'Altitud']]
data.head()

,Fecha,Estacion,Departamento,Municipio,Temp_min,Temp_max,Temp_med,Hum_rel,Precip_dia,Precip_noche,Precip_total,Brillo_sol,Longitud,Latitud,Altitud
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3,76°1'W,5°48'N,1277
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6,76°1'W,5°48'N,1277
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1,76°1'W,5°48'N,1277
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9,76°1'W,5°48'N,1277
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0,76°1'W,5°48'N,1277

In [41]:
new_data = data.dropna(axis = 0, how ='any')

In [43]:
print("Old data frame length:", len(data)) 
print("New data frame length:", len(new_data))  
print("Number of rows with at least 1 NA value: ", (len(data)-len(new_data)))

Old data frame length: 489622
New data frame length: 489622
Number of rows with at least 1 NA value:  0

In [45]:
df = pd.DataFrame(data)
df.to_csv('Anuarios_completo1.csv')

In [46]:
df.dtypes

Fecha            object
Estacion         object
Departamento     object
Municipio        object
Temp_min        float64
Temp_max        float64
Temp_med        float64
Hum_rel         float64
Precip_dia      float64
Precip_noche    float64
Precip_total    float64
Brillo_sol      float64
Longitud         object
Latitud          object
Altitud           int64
dtype: object

In [47]:
data.notnull().apply(pd.Series.value_counts)

,Fecha,Estacion,Departamento,Municipio,Temp_min,Temp_max,Temp_med,Hum_rel,Precip_dia,Precip_noche,Precip_total,Brillo_sol,Longitud,Latitud,Altitud
True,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622