In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data= pd.read_csv('fileOut.csv')
data.head()

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3,76°1'W,5°48'N,1277
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6,76°1'W,5°48'N,1277
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1,76°1'W,5°48'N,1277
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9,76°1'W,5°48'N,1277
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0,76°1'W,5°48'N,1277

In [4]:
data.notnull().apply(pd.Series.value_counts)

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
False,NaN,NaN,NaN,NaN,3430,3430,3430,3922,734,734,734,20296,NaN,NaN,NaN
True,489622.0,489622.0,489622.0,489622.0,486192,486192,486192,485700,488888,488888,488888,469326,489622.0,489622.0,489622.0

In [5]:
new_data_fill = data.fillna(method="ffill")
new_data_fill

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3,76°1'W,5°48'N,1277
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6,76°1'W,5°48'N,1277
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1,76°1'W,5°48'N,1277
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9,76°1'W,5°48'N,1277
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0,76°1'W,5°48'N,1277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489617,27/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.4,29.2,22.0,70.3,0.0,0.0,0.0,5.3,76°19'W,4°13'N,1331
489618,28/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.6,28.8,21.6,77.3,0.0,0.0,0.0,5.9,76°19'W,4°13'N,1331
489619,29/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,14.8,28.3,21.8,69.3,0.0,0.0,0.0,6.6,76°19'W,4°13'N,1331
489620,30/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.9,27.1,22.0,73.0,0.0,0.0,0.0,5.3,76°19'W,4°13'N,1331
489621,31/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.6,28.9,21.4,74.7,0.0,0.0,0.0,8.4,76°19'W,4°13'N,1331

In [6]:
new_data_fill.notnull().apply(pd.Series.value_counts)

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
True,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622

In [7]:
new_data_inter = data.interpolate()

In [8]:
new_data_inter.notnull().apply(pd.Series.value_counts)

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
True,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622,489622

In [51]:
df = pd.DataFrame(new_data_inter)
df.to_csv('Anuarios_completo_interp.csv')

In [10]:
new_data_inter = data["Temperatura_min"]
new_data_inter.head()

0    16.6
1    17.6
2    17.4
3    15.7
4    17.2
Name: Temperatura_min, dtype: float64

,Fecha,Estacion,Departamento,Municipio,Temperatura_min,Temperatura_max,Temperatura_med,Humedad_rel,Precipitacion_dia,Precipitacion_noche,Precipitacion_total,Brillo_solar,Longitud,Latitud,Altitud
0,1/Enero/2006,El Trapiche,Antioquia,Bolívar,16.6,28.4,20.4,74.7,0.0,0.0,0.0,4.3,76°1'W,5°48'N,1277
1,2/Enero/2006,El Trapiche,Antioquia,Bolívar,17.6,28.0,21.0,74.3,0.0,11.9,11.9,6.6,76°1'W,5°48'N,1277
2,3/Enero/2006,El Trapiche,Antioquia,Bolívar,17.4,26.5,20.4,77.3,0.0,15.9,15.9,3.1,76°1'W,5°48'N,1277
3,4/Enero/2006,El Trapiche,Antioquia,Bolívar,15.7,27.6,20.7,72.0,0.0,0.0,0.0,6.9,76°1'W,5°48'N,1277
4,5/Enero/2006,El Trapiche,Antioquia,Bolívar,17.2,25.2,19.2,86.0,0.3,8.0,8.3,3.0,76°1'W,5°48'N,1277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489617,27/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.4,29.2,22.0,70.3,0.0,0.0,0.0,5.3,76°19'W,4°13'N,1331
489618,28/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.6,28.8,21.6,77.3,0.0,0.0,0.0,5.9,76°19'W,4°13'N,1331
489619,29/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,14.8,28.3,21.8,69.3,0.0,0.0,0.0,6.6,76°19'W,4°13'N,1331
489620,30/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.9,27.1,22.0,73.0,0.0,0.0,0.0,5.3,76°19'W,4°13'N,1331
489621,31/Diciembre/2018,Manuel M. Mallarino,Valle,Trujillo,15.6,28.9,21.4,74.7,0.0,0.0,0.0,8.4,76°19'W,4°13'N,1331